/ h1 Listing teams
/ table.table
/   thead
/     tr.info
/       th Name
/       th Photo
/       th Point
/       th
/       th
/       th
/   tbody
/     - @teams.each do |team|
/       tr
/         td = team.name
/         td = image_tag team.photo, size: '200x200'
/         td = team.point
/         td = link_to 'Show', team
/         td = link_to 'Edit', edit_team_path(team)
/         td = link_to 'Destroy', team, data: { confirm: 'Are you sure?' }, method: :delete
/ br
/ = link_to 'New Team', new_team_path

.row
  - Team.all.each do |team|
    = react_component 'Team', team: team

css:
  .inner {
    display: table;
    margin: 0 auto; 
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }