= form_for @manga do |f|
  - if @manga.errors.any?
    #error_explanation
      h2 = "#{pluralize(@manga.errors.count, "error")} prohibited this manga from being saved:"
      ul
        - @manga.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :source
    = f.text_field :source
  .actions = f.submit
