/ h1 Listing mangas

/ table.table
/   thead
/     tr
/       th Title
/       th Description
/       th Source
/       th
/       th
/       th

/   tbody
/     - @mangas.each do |manga|
/       tr
/         td = manga.title
/         td = manga.description
/         td = manga.source
/         td = link_to 'Show', manga
/         td = link_to 'Edit', edit_manga_path(manga)
/         td = link_to 'Destroy', manga, data: { confirm: 'Are you sure?' }, method: :delete

/ br

/ = link_to 'New Manga', new_manga_path
.row
- Manga.all.each do |manga|
  .col-md-3
    a href=manga_path(manga)
      .panel.panel-default
        .panel-body = image_tag manga.cover, style:"width:100%"
        .panel-footer = manga.title