p#notice = notice

p
  strong Title:
  = @manga.title
p
  strong Description:
  = @manga.description
p
  strong Source:
  = @manga.source

table.table
  thead
    th Chapter
    th Date
  tbody
    - @manga.chapters.each do |chapter|
      tr
        td = link_to chapter.title, manga_chapter_path(manga_id: @manga.id, id: chapter.id)
        td = chapter.created_at.strftime("%d-%m-%Y")

/ = link_to 'Edit', edit_manga_path(@manga)
/ '|
/ = link_to 'Back', mangas_path
