p#notice= notice

= link_to "Delete All", remove_all_records_products_path, method: :post, class:'btn btn-danger pull-right'
= link_to "Update Price", get_price_products_path, class: 'btn btn-success pull-right'
= link_to "CSV", products_path(format: "csv"), class: 'btn btn-info pull-right'
= form_tag import_products_path, multipart: true, html:{class:'pull-right'} do
  = submit_tag "Import", class:'btn btn-primary', disabled:'disabled', id:'submit_file'
  = file_field_tag :file, style:''



h1 Products
table.table.table-condensed.table-striped
  thead
    tr.info
      th Code
      th Name
      th Price
  tbody
    - @products.each do |product|
      tr
        td= product.code
        td= product.name
        td= product.price
        


javascript:
  $('input#file').on('change', function(){
    $('#submit_file').prop("disabled", false);
  });
