= form_for @manga_chapter do |f|
  - if @manga_chapter.errors.any?
    #error_explanation
      h2 = "#{pluralize(@manga_chapter.errors.count, "error")} prohibited this manga_chapter from being saved:"
      ul
        - @manga_chapter.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :chapter_name
    = f.text_field :chapter_name
  .field
    = f.label :chapter_index
    = f.number_field :chapter_index
  .field
    = f.label :manga_id
    = f.number_field :manga_id
  .field
    = f.label :uploaded_date
    = f.date_select :uploaded_date
  .actions = f.submit
