h1 Listing manga_chapters

table
  thead
    tr
      th Chapter name
      th Chapter index
      th Manga
      th Uploaded date
      th
      th
      th

  tbody
    - @manga_chapters.each do |manga_chapter|
      tr
        td = manga_chapter.chapter_name
        td = manga_chapter.chapter_index
        td = manga_chapter.manga_id
        td = manga_chapter.uploaded_date
        td = link_to 'Show', manga_chapter
        td = link_to 'Edit', edit_manga_chapter_path(manga_chapter)
        td = link_to 'Destroy', manga_chapter, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Chapter', new_manga_chapter_path
