p#notice = notice

p
  strong Chapter name:
  = @manga_chapter.chapter_name
p
  strong Chapter index:
  = @manga_chapter.chapter_index
p
  strong Manga:
  = @manga_chapter.manga_id
p
  strong Uploaded date:
  = @manga_chapter.uploaded_date

= link_to 'Edit', edit_manga_chapter_path(@manga_chapter)
'|
= link_to 'Back', manga_chapters_path
